<div class="row">

	<div class="col-lg-5 col-md-5 col-sm-6">
		<div class="well well-lg">
			<dl class="dl-horizontal">
				<dt>Имя</dt>
				<dd><%= @user.name %></dd>
				<dt>Email</dt>
				<dd><%= @user.email %></dd>

				<% unless @user.admin? %>
					<dt>Аптечная сеть</dt>
					<dd><%= @ds_chain.name %></dd>
					<dt>Основной телефон</dt>
					<dd><%= @ds_chain.phone %></dd>
					<dt>Описание</dt>
					<dd><%= @ds_chain.description %></dd>
				<% end %>
			</dl>

			<% unless @user.admin? %>
				<%= button_to "Обновить данные аптечной сети", edit_ds_chain_user_path(@user), class: "btn btn-sm btn-primary center-block", method: :get %>
			<% end %>

		</div>
	</div>

	<div class="col-lg-4 col-lg-offset-3 col-md-5 col-md-offset-2 col-sm-6">

		<% unless @user.admin? %>
			<div class="well">
				<%= render 'drugstore_form' %>
			</div>
		<% end %>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<tr>
			<th>Имя</th>
			<th>Адрес</th>
			<th>Режим работы</th>
			<th>Телефон</th>
		</tr>
		
		<% @drugstores.each do |ds| %>
			<tr>
				<td><%= link_to ds.name, ds %></td>
				<td><%= ds.address %></td>
				<td><%= ds.working_hours %></td>
				<td><%= ds.phone %></td>
			</tr>
		<% end %>

	</table>
</div>