<tr>
	<td><%= object.name %></td>
	<td><%= number_to_human_size object.rls_file.size %></td>
	<td><%= object.created_at %></td>
	<td><%= object.user_name %></td>
 	<td>
		<%= form_for object, url: object, method: :delete, html: { class: "form-inline" } do |f| %>
			<%= f.submit "Удалить", class: "btn btn-sm btn-danger" %>
		<% end %>
 	</td>
 	<td>
		<%= form_for object, url: treat_rls_file_path(object), method: :post, html: { class: "form-inline" } do |f| %>
			<%= f.submit "Обработать", class: "btn btn-sm btn-primary" %>
		<% end %>	
 	</td>
</tr>