<%= render partial: 'shared/rls_admin_nav', locals: { menu_item: { file: "active" } } %>

<div class="well">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">

			<%= form_for @rls_file, html: { class: "form-inline", role: "form" }  do |f| %>

			  <%= f.hidden_field :user_id %>

				<div class="form-group">
				  <%= f.label :rls_file, "Выберите файлы для загрузки:" %>
				  <%= f.file_field :rls_file %>
				</div>
			<% end %>

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6" id="progress-bar">
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-condensed table-hover" id="file_table">
		<tr>
			<th class="col-sm-1">Имя</th>
			<th class="col-sm-1">Размер</th>
			<th class="col-sm-3">Дата загрузки</th>
			<th class="col-sm-2">Пользователь</th>
			<th class="col-sm-1"></th>
			<th class="col-sm-1"></th>
		</tr>
		
		<%= render partial: 'rls_file_row', collection: @rls_files, as: :rls_file %>
		
	</table>
</div>

<script id="template-upload" type="text/x-tmpl"><div class="progress"><div class="progress-bar" style="width: 0%"></div></div></script>


